@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
:root{
    --bgcolor: #040403;
    --border-div: 2px solid;
}
body{
    background-color: #A6FF96;
    padding: 0;
    margin: 0;
}

section {
    margin-top: 5%;
}
#col-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.columns {
    padding: 5%;
    margin: 10px;
}
#box1 {
    display: flex;
    background-color: #D0A2F7;
    width: 100%;
    height: 500px; 
}
#box1 img{
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: auto;
}
.feed-img {
    /* min-width: 20r;
    min-height: 20rem; */
    max-width: 100%;
    max-height: 100%;
}
.post {
    padding: 10px;
    font-size: 1.5rem;
    margin: 40px auto;
    max-width: 100%;
    min-height: 150px;
    max-height: auto;
    text-align: justify;
    overflow-y: auto;
    overflow-x: hidden;
}
.img_grid{
    display:flex;
    flex-wrap: wrap;
    margin: 40px auto;
    padding: 10px;
}
.img_grid img{
    margin: 5px;
    max-width: 48%;
    min-height: 150px;
}
.img_grid h6{
    margin: 10px;
}
.titled_post{
    padding: 10px;
    margin: 40px auto;
    max-width: 100%;
    min-height: 150px;
    text-align: center;
}
.titled_post h3{
    font-size:2rem;
    margin: 0; 
}
#friends {
    margin-bottom: 20px;
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    background-color: #DFCCFB;
}
.links {
    margin-bottom: 20px;
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    background-color: #DFCCFB;
}
.external_link_items{
    display: flex;
    overflow-x: hidden;
    justify-content: space-evenly;
}
.external_link_item{
    justify-content: center;
}
.external_link_item img{
    margin:auto;
    display: block;
    width: 5rem;
    height: 5rem;
}
.external_link_item a{
    font-size: 1.5em;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: auto;
    text-decoration: none;
    border-radius: 20px;
    display:block;
}